<div class="container-fluid bjjt_header">
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <span id="bjjt_brand" data-target="<%- bjjtech.general.url %>" data-toggle="tooltip" title="BJJTech home"  data-placement="bottom"><%=bjjtech.general.title %>:&nbsp;</span><wbr/>
            <span class="bjjt_tag">
                <span id="bjjt_brand_ajj" data-target="<%- bjjtech.company.url %>" data-toggle="tooltip" title="Austin Jiu-Jitsu home"  data-placement="bottom"><%=bjjtech.general.tagline %></span>
                <br class="bjjt_br">
                <span id="bjjt_dave" data-toggle="tooltip" title="About Coach Dave Thomas" data-placement="bottom">&nbsp;by&nbsp;<%=bjjtech.author.name %></span>
            </span>
        </div>
        <div class="col-xs-9 col-sm-6 col-m-6">
            <div class="navbar-form navbar-right navbar-bjjt-search" role="search">
                <div class="input-group">
                    <input type="text" id="bjjt_searchtext" class="form-control bjjt_searchinput" placeholder="Search BJJTech.com">
                    <span class="input-group-addon" id="bjjt_search">
                        <i class="fa fa-search"></i>
                    </span>

                </div>

            </div>
        </div>
        <script>
            var api_url = '<%-api_url %>';
              $( '#bjjt_brand' ).tooltip();
        </script>

        <script src="/public/dist/js/bjjt_search.min.js"></script>

    </div>
</div>

<div class="container-fluid" id="search">
    <row>
        <div class="col-sm-12 col-m-12 col-centered">
            <button type="button" class="close" id="close_search_button">×</button>
        </div>
    </row>
    <row>
        <div class="col-sm-12 col-centered panel panel-default content-panel search-content-panel">
            <h3>&nbsp;
                <span id="num_search_techs"></span>&nbsp;techniques found containing&nbsp;&quot;<span id="search_title_replace"></span>&quot;</h3>
            <div class="list-group">
                <div id="search_techs"></div>
            </div>
        </div>
        <div class="col-sm-6 panel panel-default content-panel content-panel-slideout" id="search-detail-content-panel">
            <div class="container-fluid">
                <h3 id="searchdetail_h"></h3>
                <div id="searchdetails"></div>
                <div class="col-md-6 bjjt_button_parent">
                    <button id="search-moredetail" data-id="initiallyundefined" name="moredetail" class="btn btn-outline-primary bjjt_button ">Click for more detail.&nbsp;<i class="fa fa-expand" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>

    </row>

</div>
