<div class="container-fluid bjjt_header">
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div id="bjjt_brand" class="navbar-brand" data-target="<%- bjjtech.general.url %>">
                <span id="bjjt_brand" data-target="<%- bjjtech.company.url %>"><%=bjjtech.general.title %>:&nbsp;</span><wbr/>
                <span id="bjjt_tag"><%=bjjtech.general.tagline %></span>
                <br class="bjjt_br">
                <span id="bjjt_dave">&nbsp;by&nbsp;<%=bjjtech.author.name %></span>
            </div>
        </div>
        <div class="col-xs-9 col-sm-6 col-m-6">
            <div class="navbar-form navbar-right navbar-bjjt-search" role="search">
                <div class="input-group">
                    <input type="text" id="bjjt_searchtext" class="form-control bjjt_searchinput" placeholder="Search BJJTech.com">
                    <span class="input-group-addon" id="bjjt_search">
                        <i class="fa fa-search"></i>
                    </span>

                </div>

            </div>
        </div>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-82395559-1', 'auto');
          ga('send', 'pageview');

        <%
          var api_url = process.env.BJJT_API_ROOT_URL + "/api/";
          var root_url = process.env.BJJT_WEB_ROOT_URL + "/";
        %>
            function doSearch(str) {
                $('#search_title_replace').empty();
                $('#search_title_replace').append(str);

                $.ajax({
                    url: "<%-api_url %>tech/text/" + str,
                    success: function(result) {
                        $('#num_search_techs').empty();
                        $('#search_techs').empty();
                        var techs = result;
                        if (techs.status === 'success') {
                            var len = techs.data.length;
                            for (i = 0; i < len; i++) {
                                if (i == 0) {
                                    $('#num_search_techs').append(len);
                                }
                                // $('#techs').append("<div class='get_tech_detail bjjt_hover' id='"+techs.data[i].index+"' data-id='"+techs.data[i].index+"'>"+techs.data[i].name +'</div>');
                                $('#search_techs').append("<a href='#' class='list-group-item get_tech_search' id='" + techs.data[i].index + "' data-listindex='" + i + "' data-id='" + techs.data[i].index + "'><h5 class='list-group-item-heading'>" + techs.data[i].topic_name + ":&emsp;&emsp;&emsp;&emsp;<strong>"+ techs.data[i].name + "</strong></h5></a>");
                            }

                        }
                    }
                });

                $('#search').addClass('open');

            }

            $(function() {
                $(document).on('click', '#bjjt_search', function() {
                    doSearch($('#bjjt_searchtext').val())
                    return false;
                });
                $('#bjjt_searchtext').bind("enterKey", function(e) {
                    doSearch($('#bjjt_searchtext').val())
                    return false;
                });

                $('#bjjt_searchtext').keyup(function(e) {
                    if (e.keyCode == 13) {
                        $(this).trigger("enterKey");
                    }
                });
                $(document).on('click', '#bjjt_brand', function() {
                    var target = $(this).attr('data-target');
                    window.location = target;
                    return false;
                });
                $(document).on('click', '#bjjt_dave', function() {
                    window.location = "http://www.austinjujitsu.com/post/dave-thomas/";
                    return false;
                });

                $('a[href="#search"]').on('click', function(event) {
                    $('#search').addClass('open');
                });
                $(document).keyup(function(e) {
                    if (e.keyCode == 27) { // escape key maps to keycode `27`
                        $("#search").removeClass('open');
                    }
                });
                $('.close').on('click', function(event) {
                    $("#search").removeClass('open');
                    event.preventDefault();
                });
                $(document).on('click', '#search.close', function(event) {
                    $("#search").removeClass('open');
                    event.preventDefault();
                });
                $('#search.close').on('click keyup', function(event) {
                    if (event.target == this || event.target.className == 'close' || event.keyCode == 27) {
                        $("#search").removeClass('open');
                    }
                });


                $(document).on('click', '.get_tech_search', function () {
                 var id = $(this).attr('data-id');
                 window.location = "<%-root_url%>tech/"+id;
                });

            });
        </script>

    </div>
</div>


    <div class="container-fluid" id="search">
           <row>
            <div class="col-sm-12 col-m-12 col-centered">
                <button type="button" class="close">×</button>
            </div>
        </row>
        <row>
            <div class="col-sm-12 col-centered panel panel-default content-panel search-content-panel">
                <h3><span id="num_search_techs"></span>&nbsp;techniques found containing&nbsp;&quot;<span id="search_title_replace"></span>&quot;</h3>
                <div class="list-group">
                    <div id="search_techs"></div>
                </div>
            </div>
        </row>

</div>
