<% include ../partials/top %>
  <script>
    var api_url = '<%-api_url %>';
    var root_url = '<%-root_url %>';
    var bjjtech_pagetitle = '<%- bjjtech.general.title %>';
  </script>

  <div class="valign-wrapper" style="height: 100%;">
    <div class="header-container">
      <span class="center jitsfontw header-name1">jits<br/><span class="header-name2">techniques<br/>
    <span class="header-name3 glow-tight">by dave thomas</span></span>
      </span>
    </div>
  </div>


  <div class="container-fluid">
    <% include ../partials/belowtop %>
      <div class="row bjjt_error">
        <h2><%=message %></h2>
        <img class="img-responsive" id="bjjt_image_img" src="http://seattlejiujitsu.com/ajj/pictures/Techniques/Rear-choke.jpg" img="" style="width: 382.5px;">
        <% if (verbose) { %>
          <pre><%= error.lineNumber %></pre>
          <pre><%= error.stack %></pre>
          <% } else { %>
            <p class="bjjt_error_detail">Something just doesn&rsquo;t feel right.<br>Just tap, baby. There you go... Shhhh, shhhh...</p>
            <% } %>
      </div>
      <!-- row !-->

  </div>
  <!-- container !-->

  <% include ../partials/bottom %>
