<%
//  id - id, for update mode only
//  update - true or false
//  title - doc title, cleaned up

var document_title = "";
var title_cols = 12;
%>
  <% include ../partials/top %>

    <div class="container-fluid">
      <row>
<%
var class_detail_name = "";
var classresponse = JSON.parse(response);

if (classresponse.status === 'success'){
   var class_detail = classresponse.data;
   if (class_detail.name){
      document_title = title;
      class_detail_name = class_detail.name;
   }
}
%>
<script>
  var api_url = '<%-api_url %>';
  var root_url = '<%-root_url %>';
  var searchStr = '<%= searchparam %>';
  document.title = '<%- bjjtech.general.title + ": " + document_title %>';
</script>
<div class="col-xs-<%-title_cols%> col-sm-<%-title_cols%> panel panel-default content-panel-noscroll" id="getclass_name">
  <%
if (class_detail_name) {
%>
    <h3><%- class_detail_name %>&nbsp;at&nbsp;<%- class_detail.schoolname%></h3>
<%
}
%>
</div>
</row>
<row>



</row>
</div>
      <% include ../partials/bottom %>
