<%
//  id - id, for update mode only
//  update - true or false
//  title - doc title, cleaned up

var document_title = "";
var title_cols = 12;
%>
  <% include ../partials/top %>

    <div class="container-fluid">
      <row>
<%
var course_detail_name = "";
var course = JSON.parse(course);
var classes = JSON.parse(classes);
var numclasses = 0;
var showOrHideBasedOnListLength = "bjjt_expand_section";
if (classes != null) {
  if (classes.status === 'success'){
    numclasses = classes.data.length;
    if (numclasses <= autoExpandSectionLimit){
      showOrHideBasedOnListLength = "";
    }
  }
}


if (course.status === 'success'){
   var course_detail = course.data;
   if (course_detail.name){
      document_title = title;
      course_detail_name = course_detail.name;
   }
}
%>
<script>
  var api_url = '<%-api_url %>';
  var root_url = '<%-root_url %>';
  var searchStr = '<%= searchparam %>';
  document.title = '<%- bjjtech.general.title + ": " + document_title %>';
</script>
<script src="/public/js/bjjt_getcourse.js"></script>
<div class="col-xs-<%-title_cols%> col-sm-<%-title_cols%> panel panel-default content-panel-noscroll" id="getcourse_name">
  <%
if (course_detail_name) {
%>
    <h3><%- course_detail_name %>&nbsp;at&nbsp;<%- course_detail.schoolname%></h3>
<%
}
%>
<div class="form-group col-sm-12">
<row>
  <label for="program" class="col-sm-3 bjjt_input_prompt ">School</label>
  <div class="list-group col-sm-9" id="school">
    <a href="#" class="list-group-item select-group-item get_school" id="school<%= course_detail.schoolid%>" data-listindex="0" data-id="<%= course_detail.schoolid%>" data-tag="school">
  <%= course_detail.schoolname%></a>
</div>
</row>
<row>
  <label for="program" class="col-sm-3 bjjt_input_prompt ">Program</label>
  <div class="list-group col-sm-8" id="program">
    <a href="#" class="list-group-item select-group-item get_course" id="program<%= course_detail.courseid%>" data-listindex="0" data-id="<%= course_detail.index%>" data-tag="program">
  <%= course_detail.name%></a>
</div>
<div class="list-group col-sm-1" id="edit">
<a href="#" class="list-group-item select-group-item edit_program_program" data-id="<%= course_detail.index%>" ><i id="edit-program" class="fa fa-pencil"></i></a>
</div>
</row>
<row>

  <label for="classes" class="col-sm-3 bjjt_input_prompt ">Classes</label>
  <div class="list-group col-sm-9" id="classes">
<%
    if (numclasses > 0){ %>
    <span class="bjjt_expand_chevron" id="classes-chevron"><i id="classes-chevron-toggle" class="fa fa-chevron-down"></i>&nbsp;<span id="classes-selected"></span></span>
    <div class="<%- showOrHideBasedOnListLength %>" id="classes-expand-section">
      <%
for(i = 0; i < numclasses; i++){ %>
        <a href="#" class="list-group-item select-group-item get_class" id="classes<%= classes.data[i].index%>" data-listindex="<%=i%>" data-id="<%= classes.data[i].index%>" data-tag="<%=classes.data[i].tag%>">
          <%= classes.data[i].name%>
        </a>
        <%
} %>
        <a href="#" class="list-group-item select-group-item new_course_class" data-id="<%= course_detail.index%>" ><i id="new-class" class="fa fa-plus"></i></a>
    </div>
    <%
        } else { %>
          <div class="">
          <a href="#" class="list-group-item select-group-item new_course_class" data-id="<%= course_detail.index%>" ><i id="new-class" class="fa fa-plus"></i></a>
          </div>
    <%
        } %>
  </div>
  <row>

</div>
</div>
</row>
<row>



</row>
</div>
      <% include ../partials/bottom %>
