<% include ../partials/top %>
<div class="container-fluid">
    <div class="row ">
<%

      function replaceAll( str, search, replacement ) {
        return str.replace( new RegExp( search, 'g' ), replacement );
      };

      function isNumeric( n ) {
        return !isNaN( parseFloat( n ) ) && isFinite( n );
      };


      var tech = JSON.parse(response);
      if (tech.status === 'success'){
        var tech_detail = tech.data;

        // If there is video or pix, split screen in half
        if ((tech_detail.imageurl) || (tech_detail.videoid)){ %>

        <div class="col-xs-12 col-sm-6 panel panel-default content-panel content-panel-tech">
<%
          if (tech_detail.name) {                        %>

            <h3><%- tech_detail.name %></h3>

<%
          }
          if (tech_detail.imageurl) {
             if (tech_detail.numimages){
                var numimages = parseInt(tech_detail.numimages); %>
                <div class="container-fluid bjjt_image">
<%                 if (numimages > 1) {
%>
                   <span class="bjjt_image_chevron bjjt_image_chevron_left bjjt_vertical_center bjjt_image_chevron_disabled" id="bjjt_image_class_swapper_left"><i class="fa fa-chevron-left"></i></span>
                   <span id="img_text_tester"></span>
                  <span class="bjjt_image_chevron bjjt_image_chevron_right bjjt_vertical_center" id="bjjt_image_class_swapper_right"><i class="fa fa-chevron-right"></i></span>
                  <div class="bjjt_image_wrapper"><img class="img-responsive" id="bjjt_image_img" src=""></img></div>
                  <script>
                  var img_array = [];
                  current_image = 0;
                  numimages = <%= numimages %>;
<%                for (i = 0; i < numimages; i++){         // Unforgunate limit of this: must be jpg
%>
                  img_array[<%= i %>] = '<%- tech_detail.imageurl + '-' + (parseInt(i+1)) +'.jpg' %>';
<%                } %>
                  $("#bjjt_image_img").attr("src", img_array[current_image]);
                  var txt = '<span class="fa-stack fa-3x bjj_image_num">'+
                     '<i class="fa fa-circle-o fa-stack-2x"></i>' +
                     '<strong class="fa-stack-1x"><span id="bjjt_image_num_fa">' + parseInt(current_image+1) + '</span></strong>' +
                  '</span>';
                  $('#img_text_tester').append(txt);

                  $(".bjjt_image_chevron_left").on('click', function () {
                     if ((current_image-1) > -1){
                        $('#bjjt_image_class_swapper_right').removeClass( "bjjt_image_chevron_disabled" );
                        current_image--;
                        if (current_image == 0){
                           $('#bjjt_image_class_swapper_left').addClass( "bjjt_image_chevron_disabled" );
                        }
                        $("#bjjt_image_img").attr("src", img_array[current_image]);
                        var txt = '<span class="fa-stack fa-3x bjj_image_num">'+
                           '<i class="fa fa-circle-o fa-stack-2x"></i>' +
                           '<strong class="fa-stack-1x"><span id="bjjt_image_num_fa">' + parseInt(current_image+1) + '</span></strong>' +
                        '</span>';
                        $('#img_text_tester').empty();
                        $('#img_text_tester').append(txt);
                     } else {
                        $('#bjjt_image_class_swapper_left').addClass( "bjjt_image_chevron_disabled" );
                     }

                  });
                  $(".bjjt_image_chevron_right").on('click', function () {
                     if ((current_image) < (numimages-1)){
                        $('#bjjt_image_class_swapper_left').removeClass( "bjjt_image_chevron_disabled" );
                        current_image++;
                        if (current_image == (numimages-1)){
                           $('#bjjt_image_class_swapper_right').addClass( "bjjt_image_chevron_disabled" );
                        }
                        $("#bjjt_image_img").attr("src", img_array[current_image]);
                        var txt = '<span class="fa-stack fa-3x bjj_image_num">'+
                           '<i class="fa fa-circle-o fa-stack-2x"></i>' +
                           '<strong class="fa-stack-1x"><span id="bjjt_image_num_fa">' + parseInt(current_image+1) + '</span></strong>' +
                        '</span>';
                        $('#img_text_tester').empty();
                        $('#img_text_tester').append(txt);
                     } else {
                        $('#bjjt_image_class_swapper_right').addClass( "bjjt_image_chevron_disabled" );
                     }
                  });


                  </script>
<%                }  else {
%>
                     <div class="bjjt_image_wrapper"><img class="img-responsive" id="bjjt_image_img" src="<%- tech_detail.imageurl %>"</img></div>
<%
                  }
%>
               </div>
<%           }
          }
          if (tech_detail.videoid) {
%>
            <script>
            // Load the IFrame Player API code asynchronously.
            var tag = document.createElement('script');
            tag.src = "https://www.youtube.com/player_api";
            var firstScriptTag = document.getElementsByTagName('script')[0];
            firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

            // Replace the 'ytplayer' element with an <iframe> and
            // YouTube player after the API code downloads.
            var player;
            function onYouTubePlayerAPIReady() {
              player = new YT.Player('ytplayer', {
                height: '390',
                width: '640',
                videoId: '<%- tech_detail.videoid %>'
              });
            }
          </script>
            <div id="ytplayer"></div>

          <%
          }
        }
        // If there is video or pix, split screen in half
        if ((tech_detail.imageurl) || (tech_detail.videoid)){ %>
         </div>
          <div class="col-xs-12 col-sm-6 panel panel-default content-panel content-panel-tech">

<%
        } else { %>
          <div class="col-sm-12 panel panel-default content-panel content-panel-tech">

<%
        }
          if (tech_detail.name) { %>
            <h3><%- tech_detail.name %></h3>
          <%
       } %>
       <p>
<%
          if (tech_detail.sport_sport) { %>
            This technique works with&nbsp;<%- tech_detail.sport_sport.toLowerCase() %>, and is suitable for&nbsp;<%- tech_detail.level_name.toLowerCase() %>&nbsp;level practitioners.&nbsp;
          <%
          }
          if (tech_detail.techniquetype_techniquetype) { %>
            Broadly, this technique is in the&nbsp;<%- tech_detail.techniquetype_techniquetype.toLowerCase() %>&nbsp;category of moves.&nbsp;
          <%
          }
          if (tech_detail.topic_topic) { %>
            Specifically, it is a <%- tech_detail.topic_topic.toLowerCase() %>&nbsp;move.&nbsp;
          <%
          }
          if (tech_detail.position_name) { %>
            You will start in in the&nbsp;<%- tech_detail.position_name.toLowerCase() %>&nbsp;position.&nbsp;
          <%
          }
          // "numimages": null,
          if (tech_detail.setup) { %>
            <h4>Setup: The Initial Situation</h4><p><%- tech_detail.setup %></p>
          <%
          }
          if (tech.data.details){
            var details = replaceAll(tech.data.details, "\n", "<br>");
          } else {
            var details = "Sorry, homie, I haven't written this yet.";
          }
          if (details) { %>
            <div class="content-panel-detail">
               <h4>Steps</h4><p><%- details %></p>
            </div>
          <%
          }

      %>
  <%
        } else { %>
      <%- "<p>Sorry, homie, I got nothin' for you on this one.</p>" %>
  <%
        } %>
        <script>
        <%
          var api_url = process.env.BJJT_API_ROOT_URL + "/api/";
          var root_url = process.env.BJJT_WEB_ROOT_URL + "/";
        %>

        $(document).on('click', '#moredetail', function () {
         //  var id = $(this).attr('data-id');
          window.location = "<%-root_url%>";
        });
        </script>
        <div class="col-md-6 bjjt_button_parent">
           <button id="moredetail" data-id="initiallyundefined" name="moredetail" class="btn btn-outline-primary bjjt_button "><i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>&nbsp;Return</button>
        </div>
    </div>
</div>
<% include ../partials/bottom %>
