<% include ../partials/top %>
        <div class="container-fluid">
          <div class="row">
            <div class="panel panel-default content-panel panel-transparent">
                <h1 id="intro-bc-title">A technique for every position, with <span class="bjjt"><%=bjjtech.general.title %></span>. </h1>
                  <p class="bjjt_p">In a ground fight, you need to have base, mobility, and ability from every position.
                  Locksmiths pick locks. Jits fighters need to know how to untangle positions.
                  <%= bjjtech.general.dotcom %> is a lock-picking guide for Brazilian Jiu-Jitsu practitioners.
                </p>

            </div>
          </div>
        <div class="row">
          <div class="col-sm-3 panel panel-default content-panel">
  <script>
  $(document).ready(function () {
  <% var api_url = 'http://localhost:'+process.env.PORT+'/api/'; %>
      $(document).on('click', '.get_techs_topic', function () {
        var topic_id = $(this).data('id');
        $('#techs').empty();
        $('#num_techs').empty();

        // alert( event.target);
        $.ajax({
            url: "<%-api_url %>"+"tech/topic/"+topic_id,
            success: function(result) {
              // alert( JSON.stringify(result));
              var techs = result;
              if (techs.status === 'success'){
                var len = techs.data.length;
                $('#num_techs').append("&nbsp;("+len+")");
                for(i = 0; i < len; i++){
                  $('#techs').append("<div class='get_tech_detail bjjt_hover' data-id='"+techs.data[i].index+"'>"+techs.data[i].name +'</div>');
                }
              }
            }
        });
        return false;
    });
});

  </script>

            <%
              var topics = JSON.parse(response);
              if (topics.status === 'success'){
                var len = topics.data.length; %>
                <%- "<h3>Topics (" + len + ")</h3>" %>
              <%
                for(i = 0; i < len; i++){ %>
                  <%- "<div class='get_techs_topic bjjt_hover' data-id='"+topics.data[i].index +"'>"+topics.data[i].topic + "</div>"; %>
                  <%
                }



              } else { %>
                <%- "<h3>No topics (try a search)</h3>" %>
              <%
              } %>

          </div>
          <div class="col-sm-3 panel panel-default content-panel"><h3>Techniques<span id="num_techs"></span></h3>
          <span id="techs">
          </span>
        </div>
          <div class="col-sm-6 panel panel-default content-panel"><h3>Detail</h3>
          <span id="details">
          </span></div>
        </div>

      </div>
<% include ../partials/bottom %>
