<%
  var topics = JSON.parse(response);
  if (topics.status === 'success'){
    var len = topics.data.length;
    var title = ": Topics List";
%>

<% include ../partials/top %>
      <script>
         var api_url = '<%-api_url %>';
         var root_url = '<%-root_url %>';
         var len = <%= len %>;
         var bjjtech_pagetitle = '<%- bjjtech.general.title %>';
      </script>

      <div class="valign-wrapper" style="height: 100%;">
        <div class="header-container">
          <span class="center jitsfontw header-name1">jits<br/><span class="header-name2">techniques<br/>
          <span class="header-name3 glow-tight">by dave thomas</span></span></span>
        </div>
      </div>


        <div class="container-fluid">
          <% include ../partials/belowtop %>
        <div class="row">


          <div class="col-sm-3 panel panel-default content-panel" id="topiclist-content-panel">


          <script src="/public/dist/js/bjjt_index.min.js"></script>

<%- "<h3>"+len+"&nbsp;Jits Topics&nbsp;<span id='nudge_topic' class='valign center pulsor nudge'>Click a topic.</span></h3>" %>
      <div class="list-group">
    <%
      for(i = 0; i < len; i++){ %>
        <a href="#" class="list-group-item get_techs_topic" id="<%= topics.data[i].index%>" data-listindex="<%=i%>" data-id="<%= topics.data[i].index%>" data-tag="<%=topics.data[i].tag%>"><h4 class="list-group-item-heading"><%= topics.data[i].name%></h4></a>
        <%
      }
    } else { %>
      <%- "<h4 class='list-group-item-heading'>No topics (try a search)</h4>" %>
    <%
    } %>
        </div>

      </div>
      <div class="col-sm-3 panel panel-default content-panel content-panel-slideout" id="techlist-content-panel">
         <h3><span id="num_techs"></span>Techniques<span id='nudge_tech' class='valign center pulsor nudge' style="display: none">Click a technique.</span></h3>
        <div class="list-group">
           <div id="techs"></div>
       </div>
    </div>
    <div class="col-sm-6 panel panel-default content-panel content-panel-slideout" id="detail-content-panel">
        <div class="container-fluid">
            <h3 id="detail_h"></h3>
            <div class="col-md-6 bjjt_button_parent">
                <button id="moredetail" data-id="initiallyundefined" name="moredetail" class="btn btn-outline-primary bjjt_button" data-toggle="tooltip" title="Get more detail">Click for more detail.&nbsp;<i class="fa fa-expand" aria-hidden="true"></i></button>
            </div>
            <div id="details"></div>
        </div>
    </div>
</div> <!-- row !-->

</div> <!-- container !-->

<% include ../partials/bottom %>
